html {
    font-family: MS Sans Serif, sans-serif;
    background: #aad4cf;
    margin: -0.2em;
}

body {
    width: 60%;
    background: #d4e9e7;
    margin: 0 auto;
}

h1 {
    font-size: 6em;
    font-weight: lighter;
    text-align: center;
    position: relative;
}

h2 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.5em;
}


.container {
    position: relative;
    text-align: center;
    color: white;
}

.center {
    color: white;
    position: absolute;
    top: 26.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.lone-starfish-wide {
    width: 100%;
    height: auto;
}

img.lone-starfish {
    width: 20%;
    padding: 0em 1em 1em 1em;
    float: left;
}

main {
    padding: .5em;
}

p {
    font-size: 1.45em;
}

section h3 {
    font-size: 2em;
}

section ul {
    margin: -1em;
    ;
}

section ul li {
    font-size: 1.3em;
}

nav ul li {
    display: inline-block;
    width: 19.5%;
    padding: 1em;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

div.form-attributes {
    border: 2px solid black;
    padding: 1em;

}

label {
    font-size: 1.45em;
}

.text-field {
    position: relative;
    border: none;
    margin: 1em 0em 1em 0em;
}

.send-button {
    padding: 1em;
    background-color: #d4e9e7;
}

input.text-field {
    width: 95%;
    border: 1px solid black;
}

textarea.text-area {
    width: 95%;
    height: 10em;
    border: 1px solid black;
    resize: none;
}

div.visit-again p {
    font-size: 1.75em;
    ;
}

footer {
    text-align: right;
    padding: 2em;
}