html {
    box-sizing: border-box;
    font-family: MS Sans Serif, sans-serif;
    background: #aad4cf;
    margin: -0.2rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 60%;
    background: #d4e9e7;
    background-size: cover;
    margin: 0 auto;
}

h1 {
    font-size: 6rem;
    font-weight: lighter;
    text-align: center;
    position: relative;
}

h2{
    font-size: 2.5rem;
}

h4{
 font-size: 1.5rem;
}


.container {
    position: relative;
    text-align: center;
    color: white;
}

.center {
    color: white;
    position: absolute;
    top: 26.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.lone-starfish-wide {
    width: 100%;
    height: auto;
}

img.lone-starfish {
    width: 20%;
    padding: 0rem 1rem 1rem 1rem;
    float: left;
}

main{
    padding: .5rem;
}

p{
    font-size: 1.45rem;
}

section h3{
    font-size: 2rem;
}
section ul{
    margin: -1rem;;
}
section ul li{
    font-size: 1.3rem;
}

nav ul li{
    display: inline-block;
    width: 19.5%;
    padding: 1em;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

div.form-attributes {
    border: 2px solid black;
    padding: 1rem;

}

label{
    font-size: 1.45rem;
}

.text-field{
    size: 100%;
    position: relative;
    border: none;
    margin: 1rem 0rem 1rem 0rem;
}

.send-button{
    padding: 1rem;
    background-color: #d4e9e7;
}

input.text-field{
    width: 95%;
    border: 1px solid black;
}
textarea.text-area{
    width: 95%;
    height: 10rem;
    border: 1px solid black;
    resize: none;
}

div.visit-again p{
    font-size: 1.75rem;;
}

footer{
    text-align: right;
    padding: 2rem;
}